.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

/*浮动相关*/

.float-none {
    float: none !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

/*flex布局相关*/

/*flex属性的默认值为：0 1 auto （不放大会缩小）
flex为none：0 0 auto （不放大也不缩小）
flex为auto：1 1 auto （放大且缩小）*/

.flex-fill {
    /*放大且缩小*/
    flex: 1 1 auto !important;
}

.flex-not-fill {
    /*不放大也不缩小*/
    flex: 0 0 auto !important;
}

.flex-1 {
    flex: 1 1 0 !important;
}

.flex-none {
    flex: none !important;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-initial {
    flex: 0 1 auto !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    flex-shrink: 1 !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-space-between {
    justify-content: space-between !important;
}

.justify-space-around {
    justify-content: space-around !important;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start !important;
}

.align-end {
    align-items: flex-end !important;
}

.align-center {
    align-items: center !important;
}

.align-baseline {
    align-items: baseline !important;
}

.align-stretch {
    align-items: stretch !important;
}

.align-content-start {
    align-content: flex-start !important;
}

.align-content-end {
    align-content: flex-end !important;
}

.align-content-center {
    align-content: center !important;
}

.align-content-space-between {
    align-content: space-between !important;
}

.align-content-space-around {
    align-content: space-around !important;
}

.align-content-stretch {
    align-content: stretch !important;
}

.align-self-auto {
    align-self: auto !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-baseline {
    align-self: baseline !important;
}

.align-self-stretch {
    align-self: stretch !important;
}

/*margin外边距相关*/

.ma-0 {
    margin: 0 !important;
}

.ma-1 {
    margin: 4px !important;
}

.ma-2 {
    margin: 8px !important;
}

.ma-3 {
    margin: 12px !important;
}

.ma-4 {
    margin: 16px !important;
}

.ma-5 {
    margin: 20px !important;
}

.ma-6 {
    margin: 24px !important;
}

.ma-7 {
    margin: 28px !important;
}

.ma-8 {
    margin: 32px !important;
}

.ma-9 {
    margin: 36px !important;
}

.ma-10 {
    margin: 40px !important;
}

.ma-11 {
    margin: 44px !important;
}

.ma-12 {
    margin: 48px !important;
}

.ma-13 {
    margin: 52px !important;
}

.ma-14 {
    margin: 56px !important;
}

.ma-15 {
    margin: 60px !important;
}

.ma-16 {
    margin: 64px !important;
}

.ma-auto {
    margin: auto !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-1 {
    margin-right: 4px !important;
    margin-left: 4px !important;
}

.mx-2 {
    margin-right: 8px !important;
    margin-left: 8px !important;
}

.mx-3 {
    margin-right: 12px !important;
    margin-left: 12px !important;
}

.mx-4 {
    margin-right: 16px !important;
    margin-left: 16px !important;
}

.mx-5 {
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.mx-6 {
    margin-right: 24px !important;
    margin-left: 24px !important;
}

.mx-7 {
    margin-right: 28px !important;
    margin-left: 28px !important;
}

.mx-8 {
    margin-right: 32px !important;
    margin-left: 32px !important;
}

.mx-9 {
    margin-right: 36px !important;
    margin-left: 36px !important;
}

.mx-10 {
    margin-right: 40px !important;
    margin-left: 40px !important;
}

.mx-11 {
    margin-right: 44px !important;
    margin-left: 44px !important;
}

.mx-12 {
    margin-right: 48px !important;
    margin-left: 48px !important;
}

.mx-13 {
    margin-right: 52px !important;
    margin-left: 52px !important;
}

.mx-14 {
    margin-right: 56px !important;
    margin-left: 56px !important;
}

.mx-15 {
    margin-right: 60px !important;
    margin-left: 60px !important;
}

.mx-16 {
    margin-right: 64px !important;
    margin-left: 64px !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.my-3 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.my-4 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.my-6 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.my-7 {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}

.my-8 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.my-9 {
    margin-top: 36px !important;
    margin-bottom: 36px !important;
}

.my-10 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.my-11 {
    margin-top: 44px !important;
    margin-bottom: 44px !important;
}

.my-12 {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

.my-13 {
    margin-top: 52px !important;
    margin-bottom: 52px !important;
}

.my-14 {
    margin-top: 56px !important;
    margin-bottom: 56px !important;
}

.my-15 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.my-16 {
    margin-top: 64px !important;
    margin-bottom: 64px !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 4px !important;
}

.mt-2 {
    margin-top: 8px !important;
}

.mt-3 {
    margin-top: 12px !important;
}

.mt-4 {
    margin-top: 16px !important;
}

.mt-5 {
    margin-top: 20px !important;
}

.mt-6 {
    margin-top: 24px !important;
}

.mt-7 {
    margin-top: 28px !important;
}

.mt-8 {
    margin-top: 32px !important;
}

.mt-9 {
    margin-top: 36px !important;
}

.mt-10 {
    margin-top: 40px !important;
}

.mt-11 {
    margin-top: 44px !important;
}

.mt-12 {
    margin-top: 48px !important;
}

.mt-13 {
    margin-top: 52px !important;
}

.mt-14 {
    margin-top: 56px !important;
}

.mt-15 {
    margin-top: 60px !important;
}

.mt-16 {
    margin-top: 64px !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 4px !important;
}

.mr-2 {
    margin-right: 8px !important;
}

.mr-3 {
    margin-right: 12px !important;
}

.mr-4 {
    margin-right: 16px !important;
}

.mr-5 {
    margin-right: 20px !important;
}

.mr-6 {
    margin-right: 24px !important;
}

.mr-7 {
    margin-right: 28px !important;
}

.mr-8 {
    margin-right: 32px !important;
}

.mr-9 {
    margin-right: 36px !important;
}

.mr-10 {
    margin-right: 40px !important;
}

.mr-11 {
    margin-right: 44px !important;
}

.mr-12 {
    margin-right: 48px !important;
}

.mr-13 {
    margin-right: 52px !important;
}

.mr-14 {
    margin-right: 56px !important;
}

.mr-15 {
    margin-right: 60px !important;
}

.mr-16 {
    margin-right: 64px !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 4px !important;
}

.mb-2 {
    margin-bottom: 8px !important;
}

.mb-3 {
    margin-bottom: 12px !important;
}

.mb-4 {
    margin-bottom: 16px !important;
}

.mb-5 {
    margin-bottom: 20px !important;
}

.mb-6 {
    margin-bottom: 24px !important;
}

.mb-7 {
    margin-bottom: 28px !important;
}

.mb-8 {
    margin-bottom: 32px !important;
}

.mb-9 {
    margin-bottom: 36px !important;
}

.mb-10 {
    margin-bottom: 40px !important;
}

.mb-11 {
    margin-bottom: 44px !important;
}

.mb-12 {
    margin-bottom: 48px !important;
}

.mb-13 {
    margin-bottom: 52px !important;
}

.mb-14 {
    margin-bottom: 56px !important;
}

.mb-15 {
    margin-bottom: 60px !important;
}

.mb-16 {
    margin-bottom: 64px !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 4px !important;
}

.ml-2 {
    margin-left: 8px !important;
}

.ml-3 {
    margin-left: 12px !important;
}

.ml-4 {
    margin-left: 16px !important;
}

.ml-5 {
    margin-left: 20px !important;
}

.ml-6 {
    margin-left: 24px !important;
}

.ml-7 {
    margin-left: 28px !important;
}

.ml-8 {
    margin-left: 32px !important;
}

.ml-9 {
    margin-left: 36px !important;
}

.ml-10 {
    margin-left: 40px !important;
}

.ml-11 {
    margin-left: 44px !important;
}

.ml-12 {
    margin-left: 48px !important;
}

.ml-13 {
    margin-left: 52px !important;
}

.ml-14 {
    margin-left: 56px !important;
}

.ml-15 {
    margin-left: 60px !important;
}

.ml-16 {
    margin-left: 64px !important;
}

.ml-auto {
    margin-left: auto !important;
}

/*padding内边距相关*/

.pa-0 {
    padding: 0 !important;
}

.pa-1 {
    padding: 4px !important;
}

.pa-2 {
    padding: 8px !important;
}

.pa-3 {
    padding: 12px !important;
}

.pa-4 {
    padding: 16px !important;
}

.pa-5 {
    padding: 20px !important;
}

.pa-6 {
    padding: 24px !important;
}

.pa-7 {
    padding: 28px !important;
}

.pa-8 {
    padding: 32px !important;
}

.pa-9 {
    padding: 36px !important;
}

.pa-10 {
    padding: 40px !important;
}

.pa-11 {
    padding: 44px !important;
}

.pa-12 {
    padding: 48px !important;
}

.pa-13 {
    padding: 52px !important;
}

.pa-14 {
    padding: 56px !important;
}

.pa-15 {
    padding: 60px !important;
}

.pa-16 {
    padding: 64px !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-1 {
    padding-right: 4px !important;
    padding-left: 4px !important;
}

.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.px-3 {
    padding-right: 12px !important;
    padding-left: 12px !important;
}

.px-4 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.px-5 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.px-6 {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.px-7 {
    padding-right: 28px !important;
    padding-left: 28px !important;
}

.px-8 {
    padding-right: 32px !important;
    padding-left: 32px !important;
}

.px-9 {
    padding-right: 36px !important;
    padding-left: 36px !important;
}

.px-10 {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.px-11 {
    padding-right: 44px !important;
    padding-left: 44px !important;
}

.px-12 {
    padding-right: 48px !important;
    padding-left: 48px !important;
}

.px-13 {
    padding-right: 52px !important;
    padding-left: 52px !important;
}

.px-14 {
    padding-right: 56px !important;
    padding-left: 56px !important;
}

.px-15 {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

.px-16 {
    padding-right: 64px !important;
    padding-left: 64px !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.py-3 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.py-4 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.py-5 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.py-6 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.py-7 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
}

.py-8 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.py-9 {
    padding-top: 36px !important;
    padding-bottom: 36px !important;
}

.py-10 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.py-11 {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
}

.py-12 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.py-13 {
    padding-top: 52px !important;
    padding-bottom: 52px !important;
}

.py-14 {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
}

.py-15 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.py-16 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 4px !important;
}

.pt-2 {
    padding-top: 8px !important;
}

.pt-3 {
    padding-top: 12px !important;
}

.pt-4 {
    padding-top: 16px !important;
}

.pt-5 {
    padding-top: 20px !important;
}

.pt-6 {
    padding-top: 24px !important;
}

.pt-7 {
    padding-top: 28px !important;
}

.pt-8 {
    padding-top: 32px !important;
}

.pt-9 {
    padding-top: 36px !important;
}

.pt-10 {
    padding-top: 40px !important;
}

.pt-11 {
    padding-top: 44px !important;
}

.pt-12 {
    padding-top: 48px !important;
}

.pt-13 {
    padding-top: 52px !important;
}

.pt-14 {
    padding-top: 56px !important;
}

.pt-15 {
    padding-top: 60px !important;
}

.pt-16 {
    padding-top: 64px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: 4px !important;
}

.pr-2 {
    padding-right: 8px !important;
}

.pr-3 {
    padding-right: 12px !important;
}

.pr-4 {
    padding-right: 16px !important;
}

.pr-5 {
    padding-right: 20px !important;
}

.pr-6 {
    padding-right: 24px !important;
}

.pr-7 {
    padding-right: 28px !important;
}

.pr-8 {
    padding-right: 32px !important;
}

.pr-9 {
    padding-right: 36px !important;
}

.pr-10 {
    padding-right: 40px !important;
}

.pr-11 {
    padding-right: 44px !important;
}

.pr-12 {
    padding-right: 48px !important;
}

.pr-13 {
    padding-right: 52px !important;
}

.pr-14 {
    padding-right: 56px !important;
}

.pr-15 {
    padding-right: 60px !important;
}

.pr-16 {
    padding-right: 64px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 4px !important;
}

.pb-2 {
    padding-bottom: 8px !important;
}

.pb-3 {
    padding-bottom: 12px !important;
}

.pb-4 {
    padding-bottom: 16px !important;
}

.pb-5 {
    padding-bottom: 20px !important;
}

.pb-6 {
    padding-bottom: 24px !important;
}

.pb-7 {
    padding-bottom: 28px !important;
}

.pb-8 {
    padding-bottom: 32px !important;
}

.pb-9 {
    padding-bottom: 36px !important;
}

.pb-10 {
    padding-bottom: 40px !important;
}

.pb-11 {
    padding-bottom: 44px !important;
}

.pb-12 {
    padding-bottom: 48px !important;
}

.pb-13 {
    padding-bottom: 52px !important;
}

.pb-14 {
    padding-bottom: 56px !important;
}

.pb-15 {
    padding-bottom: 60px !important;
}

.pb-16 {
    padding-bottom: 64px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: 4px !important;
}

.pl-2 {
    padding-left: 8px !important;
}

.pl-3 {
    padding-left: 12px !important;
}

.pl-4 {
    padding-left: 16px !important;
}

.pl-5 {
    padding-left: 20px !important;
}

.pl-6 {
    padding-left: 24px !important;
}

.pl-7 {
    padding-left: 28px !important;
}

.pl-8 {
    padding-left: 32px !important;
}

.pl-9 {
    padding-left: 36px !important;
}

.pl-10 {
    padding-left: 40px !important;
}

.pl-11 {
    padding-left: 44px !important;
}

.pl-12 {
    padding-left: 48px !important;
}

.pl-13 {
    padding-left: 52px !important;
}

.pl-14 {
    padding-left: 56px !important;
}

.pl-15 {
    padding-left: 60px !important;
}

.pl-16 {
    padding-left: 64px !important;
}

.select-none {
    user-select: none !important;
}

/*字体大小*/
.text-20 {
    font-size: 20px;
}

.text-18 {
    font-size: 18px;
}

.text-16 {
    font-size: 16px;
}

.text-14 {
    font-size: 14px;
}

.text-12 {
    font-size: 12px;
}

.elevation-3 {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
}

.elevation-2 {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.elevation-1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.elevation-0 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
}

/*文本对齐*/

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-wrap {
    white-space: normal !important;
}

.text-no-wrap {
    white-space: nowrap !important;
}

.text-pre {
    white-space: pre !important;
}

.text-pre-line {
    white-space: pre-line !important;
}

.text-pre-wrap {
    white-space: pre-wrap !important;
}

.text-break {
    overflow-wrap: break-word !important;
    word-break: break-word !important;
}

.text-break-all {
    overflow-wrap: break-word !important;
    word-break: break-all !important;
}

.text-truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.text-none {
    text-transform: none !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-weight {
    font-weight: 700 !important;
}

/*定位相关*/

.absolute {
    position: absolute;
}

.absolute-position {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.static {
    position: static !important;
}

.sticky {
    position: sticky;
}

/*盒子模型*/
.box-border {
    box-sizing: border-box !important;
}

.box-content {
    box-sizing: content-box !important;
}

/*鼠标样式*/
.cursor-auto {
    cursor: auto;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

/*Overflow*/

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-y-visible {
    overflow-y: visible;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.italic {
    font-style: italic;
}

.not-italic {
    font-style: normal;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

.underline {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;
}

.disabled {
    background-color: rgba(0, 0, 0, .12) !important;
    color: #5c5a5a !important;
    pointer-events: none;
    cursor: not-allowed !important;
}

/*border*/
.rounded-none {
    border-radius: 0 !important;
}

.rounded-sm {
    border-radius: 5px !important;
}

/*行高*/
.leading-none {
    line-height: 1;
}

.leading-tight {
    line-height: 1.25;
}

.leading-snug {
    line-height: 1.375;
}

.leading-normal {
    line-height: 1.5;
}

.leading-relaxed {
    line-height: 1.625;
}

.leading-loose {
    line-height: 2;
}

/*文本换行*/

.break-normal {
    overflow-wrap: normal;
    word-break: normal;
}

.break-words {
    overflow-wrap: break-word;
}

.break-all {
    word-break: break-all;
}

/*背景色*/
.bg-black {
    background-color: rgba(0, 0, 0, 1);
}

.bg-black-500 {
    background-color: rgba(0, 0, 0, .5);
}

.bg-black-600 {
    background-color: rgba(0, 0, 0, .6);
}

.bg-white {
    background-color: rgba(255, 255, 255, 1);
}

/*Object Fit
用于控制可替换元素的内容如何调整大小的功能类
*/
/*保持原有尺寸比例。内容被缩放。*/
.object-contain {
    object-fit: contain;
}

/*保持原有尺寸比例。但部分内容可能被剪切。*/
.object-cover {
    object-fit: cover;
}

/*默认，不保证保持原有的比例，内容拉伸填充整个内容容器。*/
.object-fill {
    object-fit: fill;
}

/*保留原有元素内容的长度和宽度，也就是说内容不会被重置。*/
.object-none {
    object-fit: none;
}


/*高度*/
.min-h-full {
    min-height: 100%;
}

.min-h-screen {
    min-height: 100vh;
}

.min-w-full {
    min-width: 100%;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.full-container {
    width: 100%;
    height: 100%;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

/*用于控制定位元素的位置的功能类*/
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-y-0 {
    top: 0;
    bottom: 0;
}

.inset-x-0 {
    right: 0;
    left: 0;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

/*边框*/
.border {
    border-width: 1px !important;
}

.border-0 {
    border-width: 0px;
}

.border-2 {
    border-width: 2px;
}

.border-4 {
    border-width: 4px;
}

.border-8 {
    border-width: 8px;
}

.border {
    border-width: 1px;
}

.border-t-0 {
    border-top-width: 0px;
}

.border-t-2 {
    border-top-width: 2px;
}

.border-t-4 {
    border-top-width: 4px;
}

.border-t-8 {
    border-top-width: 8px;
}

.border-t {
    border-top-width: 1px;
}

.border-r-0 {
    border-right-width: 0px;
}

.border-r-2 {
    border-right-width: 2px;
}

.border-r-4 {
    border-right-width: 4px;
}

.border-r-8 {
    border-right-width: 8px;
}

.border-r {
    border-right-width: 1px;
}

.border-b-0 {
    border-bottom-width: 0px;
}

.border-b-2 {
    border-bottom-width: 2px;
}

.border-b-4 {
    border-bottom-width: 4px;
}

.border-b-8 {
    border-bottom-width: 8px;
}

.border-b {
    border-bottom-width: 1px;
}

.border-l-0 {
    border-left-width: 0px;
}

.border-l-2 {
    border-left-width: 2px;
}

.border-l-4 {
    border-left-width: 4px;
}

.border-l-8 {
    border-left-width: 8px;
}

.border-l {
    border-left-width: 1px;
}

.border-primary {
    border-color: #2c82f3;
}

.border-solid {
    border-style: solid !important;
}

.border-dashed {
    border-style: dashed;
}

.border-dotted {
    border-style: dotted;
}

.border-double {
    border-style: double;
}

.border-none {
    border-style: none;
}

/*边框圆角
用于控制元素边框半径的功能类。*/
.rounded-none {
    border-radius: 0;
}

.rounded-2 {
    border-radius: 2px;
}

.rounded-4 {
    border-radius: 4px;
}

.rounded-6 {
    border-radius: 6px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-10 {
    border-radius: 10px;
}

/*不规范*/
.red-border {
    border: 1px solid red;
}

.text-red {
    color: red !important;
}

.text-transparent {
    color: transparent !important;
}

.text-black {
    color: rgba(0, 0, 0, 1);
}

.text-white {
    color: rgba(255, 255, 255, 1);
}


