@bgColor: #f5f5f7;
@lineColor: #CACACA;
@baseSize: 12px;
@orangeColor: #ff943e;
@primaryColor: var(--el-color-primary);
@successColor: var(--el-color-success);
@darkColor: #576a95;
@infoColor: var(--el-color-info-light-7);


.flow-orange-color {
  color: @orangeColor;
}

.flow-primary-color {
  color: @primaryColor;
}

.flow-success-color {
  color: @successColor;
}


.flow-container {
  display: inline-block;
  background: #f5f5f7;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: auto;
}

.flow-scale-slider {
  position: fixed;
  right: 30px;
  z-index: 99;

  .flow-scale-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    background: #FFF;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.flex-center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/*结束节点*/
.flow-end-node {
  text-align: center;
  flex-direction: column;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    margin: auto;
    border: none;
    margin-bottom: 12px;
    border-radius: 50%;
    background: #dbdcdc;
  }
}

/*添加节点按钮*/
.flow-node-add-btn {
  width: 220px;
  height: 100px;
  position: relative;
  margin: auto;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: auto;
    width: 2px;
    height: 100%;
    background-color: @lineColor;
  }

  .flow-plus-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--el-color-primary);
    border-color: transparent;
    transition: transform 0.5s;
    color: #FFFFFF;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);
    }
  }
}

/*添加节点按钮 内置步骤按钮*/
.flow-node-add-container {
  text-align: center;

  .flow-node-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--el-border-color);
    margin-bottom: 8px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: var(--el-color-primary);
      border-color: transparent;
      color: #FFFFFF;
    }
  }
}

/*单个节点渲染*/
.flow-path-container {
  width: 220px;
  min-height: 82px;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  background: #FFF;

  &:hover {
    box-shadow: 0 0 0 2px @primaryColor, 0 0 5px 4px @infoColor;
  }

  &.start-node {
    .flow-path-header {
      background: @darkColor;
    }
  }

  .flow-path-header {
    padding-left: 16px;
    padding-right: 30px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: white;
    position: relative;
    box-sizing: border-box;
  }

  .flow-path-body {
   /* position: relative;
    padding: 12px;
    padding-right: 30px;
    box-sizing: border-box;*/
  }
}

.flow-node-wrap-box {
  position: relative;
  flex-direction: column;

  &.condition {
    padding: 30px 50px 0
  }

  &.empty {
    overflow: hidden;
  }

  &.approver::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    border-style: solid;
    border-width: 8px 6px 4px;
    border-color: @lineColor transparent transparent;
    background: @bgColor;
  }

  &.error {
    &.condition .error-tip {
      right: 0;
    }

    .error-tip {
      right: -40px;
    }

    .flow-path-card {
      border: 1px solid #f00;

      &:hover {
        border-width: 0;
      }
    }
  }

  .error-tip {
    position: absolute;
    right: 0;
    top: 15%;
    width: 30px;
    height: 30px;
    color: #f00;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid;
    line-height: 30px;
    transition: right .5s;
  }

  &.condition .error-tip {
    right: 60px;
  }
}
